POSTGRES_DB=openrum
POSTGRES_USER=openrum
POSTGRES_PASSWORD=openrum_local_only
POSTGRES_PORT=5433

CLICKHOUSE_DB=openrum
CLICKHOUSE_USER=openrum
CLICKHOUSE_PASSWORD=openrum_local_only
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000

KAFKA_PORT=9092
REDIS_PORT=6379

MINIO_ROOT_USER=openrum
MINIO_ROOT_PASSWORD=openrum_local_only
OBJECT_STORAGE_PORT=9100
OBJECT_STORAGE_CONSOLE_PORT=9101
